layout: index
description: IOPA is an API-first, Internet of Things (IoT) stack, open-sourced by the Internet of Protocols Alliance
subtitle: The Internet of Protocols Alliance (IOPA)
subdescription: Welcome to the IOPA reference specification. You'll find comprehensive guides and documentation to help you start working with IOPA as quickly as possible, as well as support if you get stuck. Let's jump right in!
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Lightweight
      p.intro-feature-desc As slim as you want, IOPA is a reference pattern that can run with no IOPA code at all
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Open Source
      p.intro-feature-desc Always free and open-source, include IOPA in commercial and non-commercial projects alike
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Serverless
      p.intro-feature-desc The IOPA specs allow applications to be developed independently of the actual platform on which it runs and is particularly well-suited for serverless environments
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Bot Ready
      p.intro-feature-desc The pattern and reference implementation is particularly well-suited for Bot APIs such as Facebook Messenger, Amazon Alexa Skills, Microsoft Bot Framework, Google Now, and Whatsapp. 